#checkout_form {
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
}

#name, #contact, #comments {
    width: 80%;
    margin-left: 10%;
    height: 5%;
    padding: 5%;
}
input {
    margin: 10px;
}
#checkout { 
    margin-right: 10%;
    float: right;
    height: 5%;
}
textarea {
    min-width: 80%;
    min-height: 20%;
}