.product {
    border: 5px solid black;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: bisque;
    margin-left: 35%;
    margin-top: 5%;
}
img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5%;
}
.product_info {
    margin-left: 5%;
}
#add_product {
    height: 4.8%;
    width: 100%;
}