.product {
    border: 0.2vw solid black;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: bisque;
    margin-left: 35%;
    margin-top: 5%;
    font-size: 1vw;
}
img {
    width: 10vw;
    height: 10vw;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5%;
}
.product_info {
    margin-left: 5%;
}
#add_product {
    height: 4.8%;
    width: 100%;
}
button {
    width: 10vw;
    height:2vw;
    font-size: 1vw;
}